@use '../vars';

.spoilertitle {
	padding: 16px 24px;
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	font-size: 20px;
	user-select: none;

	&:hover {
		background-color: vars.$app-accent;
	}

	svg {
		width: 30px;
		height: 30px;
	}
}